<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>Angular Coding Challenge</h3>
      <hr>
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div 
        id="user-data" 
        ngModelGroup="userData"
        #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input 
            placeholder="Your name.." 
            type="text" 
            id="username" 
            class="form-control"
            ngModel
            name="username"
            required>
          </div>
          <button class="btn btn-default" type="button"
          (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input 
            type="email"
            id="email" 
            class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid mail!</span>
          </div>
        </div>
        <div class="form-group">
          
          <label for="subscription">Subscription</label>
          <select 
          id="subscription" 
          class="form-control"
          [ngModel]="default"
          name="subscription">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User Data is invalid</p>
        
        <div class="form-group">
            <label for="password">Password</label>
            <input 
            type="password"
            id="password" 
            class="form-control"
            ngModel
            name="password"
            password
            required
            minlength="8"
            #password="ngModel">
            <span class="help-block" *ngIf="!password.valid && password.touched">Please enter 
                a valid password!
                8 char long</span>
          </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input 
              type="radio"
              name="gender"
              ngModel
              [value]="gender"
              required>
              {{ gender }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit"
        [disabled]="!f.valid">
        Submit</button>
        <button class="btn btn-danger" (click)="onReset()">Reset</button>
      </form>
    </div>
  </div>
  <hr>
  
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data Here.</h3>
      <p>Username: {{ user.username }} </p>
      <p>Mail: {{user.email}} </p>
      <p>Subscription: {{user.subscription}} </p>
      <p>Password: {{user.password}}</p>
      <p>Gender: {{user.gender}}</p>
    </div>
  </div>
</div>
